{
  "$schema": "https://unpkg.com/knip@latest/schema.json",
  "entry": [{% if project_type == 'spa' %}"index.html"{% else %}"src/index.ts"{% endif %}],
  "project": ["src/**/*.ts", "src/**/*.tsx"],
  "ignore": [
    "**/*.test.ts",
    "**/*.spec.ts",
    "**/*.d.ts",
    "**/dist/**",
    "**/build/**",
    "**/.husky/**"
  ],
  "ignoreDependencies": ["@secretlint/secretlint-rule-preset-recommend"],
  "ignoreExportsUsedInFile": true
}
