// For format details, see https://aka.ms/devcontainer.json. For config options, see the
// README at: https://github.com/devcontainers/templates/tree/main/src/typescript-node
{
  "name": "{{ project_name }}",
  "dockerComposeFile": "docker-compose.yaml",
  "service": "app",
  "workspaceFolder": "/workspace",
  "shutdownAction": "stopCompose",

  // Features to add to the dev container
  "features": {
    "ghcr.io/devcontainers/features/common-utils:2": {
      "installZsh": true,
      "installOhMyZsh": true,
      "configureZshAsDefaultShell": true,
      "username": "vscode",
      "userUid": "automatic",
      "userGid": "automatic"
    }
  },
  "containerUser": "vscode",
  "remoteUser": "vscode",
  "remoteEnv": {
    "PATH": "${containerEnv:PATH}:/home/vscode/.local/bin:/home/vscode/.bun/bin"
  },
  "updateRemoteUserUID": true,
  "postCreateCommand": "bash .devcontainer/postCreateCommand.sh",
  "postStartCommand": "bash .devcontainer/postStartCommand.sh",
  "waitFor": "postCreateCommand",
  "customizations": {
    "vscode": {
      "settings": {
        "terminal.integrated.defaultProfile.linux": "zsh"
      },
      "extensions": [
        "eamodio.gitlens",
        "mhutchie.git-graph",
        "Gruntfuggly.todo-tree",
        "esbenp.prettier-vscode",
        "streetsidesoftware.code-spell-checker",
        "streetsidesoftware.code-spell-checker-norwegian-bokmal",
        "oven.bun-vscode",
        "biomejs.biome"
      ]
    }
  }
}
